*{
    margin: 0;
    padding: 0;
    font-family: 'Okra', Helvetica;
}
input:focus{
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}
.del{
    margin: 10px;
    margin-left: 70px;
}
.del img{
    margin-left: 10px;
}
nav{
    height: 100px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.221);
}
.vertical{
width: 1px;
height: 100px;
margin-left: 10px;
background-color: rgba(128, 128, 128, 0.251);
}
#search{
    margin-top: 15px;
    margin-left: 10px;
}
form{
    display: flex;
    width: 420px;
    background-color: rgb(241, 239, 237);
    margin-left: 50px;
    border-radius: 10px;
}
form input{
    border: none;
    margin-left: 10px;
    width: 100%;
    height: 50px;
    background-color: rgb(241, 239, 237);
}
.navbar-collapse{
    margin-left: 80px;
}
.nav-item button{
    background-color:#0C831F;
    text-align: center;
    margin-left: 40px;
    width: 122px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    height: 52px;
    align-items: center;
    border: none;
}
.nav-item a{
    margin-right: 9px;
    font-weight: 600;
}
.hero{
    object-fit: fill;
    margin: 30px;
    margin-top: 120px;
}
.hero img{
    width: 1230px;
    height: 232px;
}
.scrollable{
    display: flex;
    margin: 10px 30px 30px 30px;
    overflow-x: scroll;
}
.scrollable img{
    padding-left: 20px;
}

.flexCont{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:5px
}
.scroll1{
    display: flex;
    margin: 10px 10px 30px 50px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 179px;
    height: 306px; 
    border-top: 1px solid rgba(128, 128, 128, 0.267) ;
    border-left: 1px solid rgba(128, 128, 128, 0.267) ;
    box-shadow: 1px 1px rgba(128, 128, 128, 0.267);
    margin-right: 20px;
}
.box img{
    margin-left: 20px;
}
.text{
    margin: 10px;
}
.price{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.price button{
    background-color: rgba(172, 255, 47, 0.096);
    width: 80px;
    height: 32px;
    font-size: 13px;
    color: green;
    border-radius: 10px;
    border: 1px rgba(0, 128, 0, 0.158) solid;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}
.middle{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #666666;
}
.middle li{
    padding-bottom: 10px;
    cursor: pointer;
}
.last{
    display: flex;
    font-size: 13px;
    margin: 20px 30px 0 30px;
    justify-content: space-between;
}
#down{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    font-size: 17px;
}
#down img{
    width:90px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (width<=768px) {
    .vertical{
        display: none;
    }
    .hero{
        margin: 0;
        margin-top: 50px;
    }
    .hero img{
        width: 175vh;
        margin: 120px 20px 10px 20px;
        height: 50vh;
    }
    nav{
        min-height:146px;
        display: flex;
        width: 100%;
        align-items: center;
    }
    .navbar-collapse ul{
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        justify-content: space-between;
        background-color: rgba(128, 128, 128, 0.292);
       width: 20vh;
    }
    .del{
        margin-left: 0px;
        margin-right: 50px;
    }
    form {
        margin-left: 0;
        width: 400px;
    }
    .scrollable{
        margin: 100px 10px 10px 10px;
    }
    .scrollable img{
        width: 200px;
        height: 100px;
        padding-left: 20px;
    }
    .flexCont{
        margin:30px 10px 30px 40px;
    }
    .footer{
        background-color: #66666663;
        margin: 10px 0 0 0 ;

        padding: 0;
    }
    .first, .middle ul{
       display: none;
    }
    .last{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }
    #down img{
        width: 60px;
        height: 30px;
        margin-left: 0;
        margin-right: 60px;
    }
    .icons{
        display: flex;
        width: 90%;
         margin-right: 80px;
        justify-content: space-around;
    }
}

@media screen and (width<=426px) {
    #logo, .vertical{
        display: none;
    }
    nav{
        min-height:146px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .navbar-collapse ul{
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        justify-content: space-between;
        background-color: rgba(128, 128, 128, 0.292);
       width: 20vh;
    }
    .del{
        margin-left: 0px;
        margin-right: 50px;
    }
    form {
        margin-left: 0;
        width: 400px;
    }
    .hero{
        display: none;
    }
    .scrollable{
        margin: 170px 10px 10px 10px;

    }
    .scrollable img{
        width: 100px;
        height: 55px;
        padding-left: 20px;
    }
    .flexCont{
        margin:30px 10px 30px 40px;
    }
    .footer{
        background-color: #66666663;
        margin: 10px 0 0 0 ;
        width: 100vh;
        padding: 0;
    }
    .first, .middle ul{
       display: none;
    }
    .last{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }
    #down img{
        width: 60px;
        height: 30px;
        margin-left: 0;
        margin-right: 60px;
    }
    .icons{
        display: flex;
        width: 90%;
         margin-right: 80px;
        justify-content: space-around;
    }
}

@media screen and (width<=376px) {
    #logo, .vertical{
        display: none;
    }
    nav{
        min-height:146px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-collapse ul{
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        justify-content: space-between;
        background-color: rgba(128, 128, 128, 0.292);
    }
    .del{
        margin-left: 0px;
    }
    form {
        margin-left: 0;
        width: 400px;
    }
    .hero{
        display: none;
    }
    .scrollable{
        margin: 170px 10px 10px 10px;

    }
    .scrollable img{
        width: 100px;
        height: 55px;
        padding-left: 20px;
    }
    .flexCont{
        margin:30px 10px 30px 60px;
    }
    .footer{
        background-color: #66666663;
        margin: 0;
        padding: 0;
    }
    .first, .middle ul{
       display: none;
    }
    .last{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icons{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}
@media screen and (width<=320px) {
    #logo, .vertical{
        display: none;
    }
    body{
        width: 100vh;
    }
    nav{
        min-height:146px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-collapse ul{
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        justify-content: space-between;
        background-color: rgba(128, 128, 128, 0.292);
       width: 20vh;
    }
    .del{
        margin-left: 0px;
        margin-right: 50px;
    }
    form {
        margin-left: 0;
        width: 400px;
    }
    .hero{
        display: none;
    }
    .scrollable{
        margin: 170px 10px 10px 10px;

    }
    .scrollable img{
        width: 100px;
        height: 55px;
        padding-left: 20px;
    }
    .flexCont{
        margin:30px 10px 30px 40px;
    }
    .footer{
        background-color: #66666663;
        margin: 10px 0 0 0 ;
        padding: 0;
    }
    .first, .middle ul{
       display: none;
    }
    .last{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }
    #down img{
        width: 60px;
        height: 30px;
        margin-left: 0;
        margin-right: 60px;
    }
    .icons{
        display: flex;
        width: 90%;
         margin-right: 80px;
        justify-content: space-around;
    }
}

